.nav_bg_color {
    background-color: rgba(177, 213, 179, 0.8);
}

.navbar-light .navbar-brand {
    color: rgba(32, 121, 75, 0.9);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(32, 121, 75, 0.9);
    background-color: aliceblue;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(32, 121, 75, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(150, 77, 62, 0.7);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}

h1 {
    text-align: center;
    color: white;
    background-color: rgb(10, 62, 3);
    padding: 10px; /* optional: add padding for better appearance */
}

body{
    background-image: url(../images/pxfuel\ \(5\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#a,#b,#c,#d,#e,#f,#g,#h,#i,#j,#k,#l,#m,#o,#n {
    display: block;
    height: 600px;
}


.content-block {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.photo img {
    padding: 10px; /* 增加 padding 以留邊 */
    border: 5px solid white;
    border-radius: 10px;
    display: block;
    margin: 0 auto; /* 使照片置中 */
}

.text-music {
    font-size: 18px;
    text-align: center;
}

.youtube-link {
    color: black;
    font-weight: bold;
    text-align: center;
}

#a {
    background-color: rgb(238, 135, 135);
    opacity: 0.9;
    
}

#b {
    background-color: rgb(156, 156, 156);
    opacity: 0.9;
}

#c {
    background-color: rgb(236, 136, 194);
    opacity: 0.9;
}

#d {
    background-color: rgb(230, 161, 113);
    opacity: 0.9;
}

#e {
    background-color: rgb(165, 114, 114);
    opacity: 0.9;
}
#f {
    background-color: rgb(193, 135, 238);
    opacity: 0.9;
}

#g {
    background-color: rgb(234, 233, 124);
    opacity: 0.9;
}

#h {
    background-color: rgb(193, 107, 107);
    opacity: 0.9;
}

#i {
    background-color: rgb(98, 139, 235);
    opacity: 0.9;
}

#j {
    background-color: rgb(174, 222, 248);
    opacity: 0.9;
}

#k {
    background-color: rgb(139, 139, 139);
    opacity: 0.9;
}

#l {
    background-color: rgb(102, 132, 106);
    opacity: 0.9;
}

#m {
    background-color: rgb(133, 135, 135);
    opacity: 0.9;
}

#o {
    background-color: rgb(117, 117, 117);
    opacity: 0.9;
}

#n {
    background-color: rgb(234, 144, 192);
    opacity: 0.9;
}

.menu {
    text-align: center;
    margin: 15px auto;
}

a.move {
    color: rgb(0, 0, 0); /* 將文字顏色設為白色 */
    background-color: rgb(255, 255, 255); /* 將背景顏色設為黑色，達到反白效果 */
    font-size: 20px; /* 調整字體大小 */
    font-weight: bold; /* 加粗字體 */
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block; /* 讓超連結以區塊元素方式顯示，以設定 padding */
    margin: 5px; /* 可以調整超連結之間的間距 */
    opacity: 0.7;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.scroll-to-top a {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.scroll-to-top a:hover {
    background-color: #0056b3;
}