body{
    background-image: url(../images/index01.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav_bg_color{
    background-color: rgba(177, 213, 179, 0.8);
}

.navbar-light .navbar-brand {
    color: rgba(32, 121, 75, 0.9);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(32, 121, 75, 0.9);
    background-color: aliceblue; 
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(32, 121, 75, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(150, 77, 62, 0.7);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}

.box{
    background-color: rgba(177, 213, 179, 0.8);
    color: rgba(15, 78, 45, 0.9);
    margin-top: 20px;
    padding: 15px;
}
.box p{
    text-align: left;
    font-weight: bold;
}

